{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h> Sign up or Log in... </h>
  </div>
  <div class="column">
    <img src="/images/seville.jpg">
  </div>
</div>
  <hr>
<div class="columns is-vcentered ">
  <div class="column has-text-centered">
  <small>Test out the Placetime API with our <a href="/documentation">Swagger documentation</a></small>
  </div>
</div>
