<form class="box" action="/placegroup/{{placegroup._id}}/addplace" method="POST">
  <label>Enter Place Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Longitude" name="long" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Latitude" name="lat" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Rating" name="rating" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Image Path" name="img" />
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Place</button>
</form>

<hr />

<div class="container">
  <p class="subtitle is-5">To include an image:</p>
  <div class="box">
    <ol class="content">
      <li>Go to <a href="https://unsplash.com/">Unsplash</a></li>
      <li>Find an image you like</li>
      <li>Right-click the image and choose <code>copy image link</code></li>
      <li>Paste the image path above</li>
    </ol>
  </div>
</div>
