<form class="box" action="/playlist/{{playlist._id}}/addtrack" method="POST">
  <label>Enter Place Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="title" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="artist" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter comments" name="duration" />
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Place</button>
</form>
