<form action="/dashboard/addplaylist" method="POST">
  <div class="field">
    <label class="label">Places group</label>
    <input class="input" type="text" placeholder="Enter places group" name="title" />
  </div>
  <button class="button is-link">Add a places group</button>
</form>
