<script src="/leaflet/leaflet.js"></script>
<script src="/leaflet-fullscreen/Leaflet.fullscreen.js"></script>

<div id="{{name}}_map" style="height: 150px; width: 150px;"></div>
<script>

    // Give map a unique root name
    var mapName = "{{name}}";

    // Define data so they can be passed to script
    var lat = {{lat}}; 
    var long = {{long}};
    
    // Initialise map with dynamic mapName
    // Add a fullscreen button with a plugin
    var map = L.map(mapName + "_map", {
      fullscreenControl: true,
      fullscreenControlOptions: {
      position: "topright",
      }}).setView([lat, long], 5);

    // Add map tiles
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    // BUG: Add a marker (doesn't work with injection)
    <!-- L.marker([lat, long]).addTo(map); -->
</script>
